body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: gainsboro;
  font-size: 30px;
}

header {
  font-size: 30px;
  font-weight: 700;
  padding-left: 5%;
  padding-top: 5%;
}

.wrapper {
  background-color: white;
  border-radius: 15px;
  width: 25%;
  height: 70%;
}

.lists {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.users {
  font-size: 20px;
  margin-left: 35px;
}

ul {
  list-style-type: none;
}

span {
  font-size: 15px;
}

.link {
  font-size: 15px;
  text-align: center;
  text-decoration: none;
}

a {
  text-decoration: none;
}
